.carousel-image {  
    position: absolute;  
    width: 100%;  
    height: 100%;  
    background-size: cover;  
    background-position: center;  
    opacity: 0;  
    transition: opacity 1s ease-in-out;  
    z-index: -1;
}   
.carousel-image.active {  
    opacity: 1;  
}
.carousel-circle{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #D9D9D9;
    margin: 4px;
}
.carousel-circle.active{
    background-color: #C622CF;
}
.carousel-description{
    display: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
    color: #FFFFFF;
    margin: 0;
}
.carousel-description.active{
    display: flex;
}
.intro-page-container{
    height: 100vh;
    display: grid;
    grid-template-rows: 7fr 1fr 2fr 1fr;
}
.title-icon{
    width: 255px;
    height: 72px;
}
.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.descriptions-container{
    display: flex;
    height: 56px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button-create-now{
    height: 65px;
    width: 100%;
    border-radius: 100px;
    border: 2px solid #C622CF;
    background-color: transparent;
    font-size: 24px;
    font-weight: 800;
    line-height: 28.18px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;
    color: #FFFFFF;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    width: calc(100% - 40px);
}
.circles-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}